#logo {
text-align: center;
height: 50px;
margin-top: 20px;

}

#login-text {

  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: white;
  text-shadow: 0 0 3px #FF0000;

}

#login-text h2:hover {
  color: rgb(255, 187, 0)1;
  text-decoration: underline;
}


