<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Criar Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Título</ion-label>
    <ion-input type="text" [(ngModel)]="postar.titulo" required>
</ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Detalhe</ion-label>
    <ion-textarea [(ngModel)]="postar.detalhe" required>
</ion-textarea>
  </ion-item>

  <ion-button class="ion-padding"
color="primary" expand="full" (click)="criarPost(postar)">Criar
</ion-button>
</ion-content>
