<ion-content>

  <ion-header>

    <ion-toolbar color="medium">

      <ion-title class="ion-text-center"> Cadastro de Usuários</ion-title>

      <ion-title><img alt="logo" id="header_logo" height="30" float-left src="assets/imagens/nisno-logo.png"></ion-title>
    </ion-toolbar>

  </ion-header>

  <ion-content>

    <ion-item>
      <ion-label position="floating">E-mail</ion-label>

      <ion-input type="email" [(ngModel)]="usuario.email" required></ion-input>

    </ion-item>
    <ion-item>

      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="usuario.senha"required></ion-input>

    </ion-item>

    <ion-button class="ion-padding" color="primary" (click)="registrar(usuario)" expand="full">Cadastrar</ion-button>
    <ion-button class="ion-padding" color="light" expand="full" [routerLink]="['/login']">Voltar</ion-button>

  </ion-content>
</ion-content>
